html, body{
  height: 100%;
  margin: 0px;
}
#hogwarts-background{
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-image: url("images/hogwarts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#form-wrapper{
  width: 90%;
  max-width: 500px;
  min-height: 500px;
  margin: auto;
  background-color: rgba(0,0,0,0.6);
}
#form-wrapper > form{
  color: white;
  padding: 40px;
  font-family: 'Jolly Lodger';
  font-size: 26px;
  letter-spacing: 1px;
}
#form-wrapper > form > input[type="submit"]{
  font-family: 'Jolly Lodger';
  font-size: 26px;
  width: 160px;
  display: block;
  margin: 0px, auto;
}
#form-wrapper > form > input, select{
  font-family: 'Jolly Lodger';
  font-size: 22px;
  letter-spacing: 1px;
  padding: 0px, 6px;
  background-color: rgba(0,0,0,0.4);
  border: 1px solid white;
  color: #fff;
}
